global
  log /dev/log local0
  log /dev/log local1 notice
  daemon
  maxconn 4096

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client 50s
  timeout server 50s

frontend public_http
  bind *:80
  default_backend istio_gateway_http

frontend public_https
  bind *:443
  default_backend istio_gateway_https

backend istio_gateway_http
  balance roundrobin
  option tcp-check
  # Replace these with Kubernetes node private IPs and the Istio HTTP NodePort.
  server node1 172.18.0.2:30080 check
  server node2 172.18.0.4:30080 check
  server node3 172.18.0.3:30080 check

backend istio_gateway_https
  balance roundrobin
  option tcp-check
  # Replace these with Kubernetes node private IPs and the Istio HTTPS NodePort.
  server node1 172.18.0.2:30443 check
  server node2 172.18.0.4:30443 check
  server node3 172.18.0.3:30443 check
